<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>
      There is a new message from Ezekiel's contact form.
      The message was sent from <%= "#{ @name }, #{ @email }."%>
    </p>
    <%= "#{message}." %>
  </body>
</html>
