<footer class="footer-distributed navbar-fixed-bottom">
  <div class="footer-left">
    <p class="footer-links">
      ·
      <%= link_to "Contactanos", pages_contact_path, class:'page-scroll' %>
      ·
      <%= link_to "Sobre Nosotros", pages_about_path, class:'page-scroll' %>
      ·
    </p>
  <p>
    </p>
 </div>
  </footer>
